{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonony.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{- $page := .page }}
{{- $taxonomy := .taxonomy }}

{{- with $page.GetTerms $taxonomy }}
  {{- $label := (index . 0).Parent.LinkTitle }}
  <div class="flex flex-row space-x-2 pb-2">
    <p><i class="nf nf-md-tag"></i> {{ $label }}:</p>
    <ul class="flex flex-row space-x-2">
      {{- range . }}
        <li class="bg-lighter-bg rounded-full whitespace-pre"><a href="{{ .RelPermalink }}">  {{ .LinkTitle }}  </a></li>
      {{- end }}
    </ul>
  </div>
{{- end }}
